@using Xjt.Data
@{
    Layout = null;
    Banner banner = Data.Banner;
    banner = banner ?? new Banner();

    var other = Data.Other;
    other = other ?? new Other();
}

<style>
    .main .header{ height: 500px; background: url('@banner.Img') no-repeat}
    .main .header .nav{ height: 100px; border-bottom: 2px solid #374760; background: url('/image/default/logo.png') no-repeat 242px 26px; z-index: 10;}
    .main .header .nav .content {  width: 1440px; margin: 0 auto; overflow: hidden;}
    .main .header .nav .content .l1{ float: left;}
    .main .header .nav .content .l1 a{ height: 75px; width: 100px; display: block;float: left; color: #fff; margin: 0 0 0 30px; text-align: center; padding-top: 25px;}
    .main .header .nav .content .l1 a:hover{ background-color: #1f314c;}
    .main .header .nav .content .l1 a:hover .b{ color: #ff5a00;}
    .main .header .nav .content .l1 div.b { font-weight: bold; font-size: 18px; }
    .main .header .nav .content .l1 div.e { margin-top: 8px; font-size: 14px; }
    .main .header .nav .content .l2{ color: #fff; height: 100px; width: 280px; float: left; background: url('/image/default/special-plane.png') no-repeat 45px 30px; font-size: 18px; font-weight: bold;}
    .main .header .nav .content .l2 div{ margin-left: 110px;}
    .main .header .slogan{ position: absolute; color: #fff; text-align: center; margin: 127px 0 0 342px;}
    .main .header .slogan .l1{ font-size: 48px;}
    .main .header .slogan .l2{ font-size: 22px;}
</style>

<div class="header">
    <div class="nav">
        <div class="content">
            <div class="l1">
                <a href="/" style="margin-left: 268px">
                    <div class="b">首页</div>
                    <div class="e">Home</div>
                </a>
                <a href="">
                    <div class="b">产品中心</div>
                    <div class="e">Product</div>
                </a>
                <a href="">
                    <div class="b">行业应用</div>
                    <div class="e">Application</div>
                </a>
                <a href="">
                    <div class="b">加入我们</div>
                    <div class="e">Join us</div>
                </a>
                <a href="">
                    <div class="b">联系我们</div>
                    <div class="e">Contact us</div>
                </a>
            </div>
            <div class="l2">
                <div style="margin-top: 25px;">商务合作请咨询：</div>
                <div>@other.Phone</div>
            </div>
        </div>
        
    </div>
    <div class="slogan">
        <div class="l1">追求卓越，超越平凡</div>
        <div class="l2">Pursuit of excellence, beyond the ordinary</div>
    </div>
</div>
<script>
    $(function() {
    });
</script>